{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for("static", filename="upload.js") }}"></script>
<h1>Upload</h1>
<form id="options" enctype="multipart/form-data" action="" method=post> 
<table class="table">

<tr class="rowcommon"> 
<td class="cell1 cell1width">Step 1</td> 
<td class="cell2 cell2width">Select a file to upload</td> 
<td class="cell2"><input type="file" name="file" size="25"><br><input type="checkbox" name="sampledata" value="sampledata.txt">Use sample data</td> 
</tr> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">Step 2</td> 
<td class="cell2 cell2width">Statistical significance threshold for p-value</td> 
<td class="cell2"><input name="alpha"  type="text" size="10" value="0.1"></td> 
</tr> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">Step 3</td> 
<td class="cell2 cell2width">Reference genome build</td> 
<td class="cell2"> 
<select name="build"> 
<option value="hg16_centromeres.txt">hg16</option> 
<option value="hg17_centromeres.txt">hg17</option> 
<option value="hg18_centromeres.txt" selected>hg18</option> 
<option value="hg19_centromeres.txt">hg19(b37)</option> 
</select> 
</td> 
</tr> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">Step 4</td> 
<td class="cell2 cell2width">Gender of sample</td> 
<td class="cell2"> 
<select name="gender"> 
<option value="M">Male</option> 
<option value="F">Female</option> 
<option value="NA" selected>NA</option> 
</select> 
</td> 
</tr> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">Step 5</td> 
<td class="cell2 cell2width">Submit query. Note that large files will take some time to upload.</td> 
<td class="cell2"><input id="submit" type=submit value=Upload></td> 
</tr>  

<div id="submitted"><p><a>File upload is in progress. Please wait.</a></div>

<tr class="rowcommon">
<td class="cell1 cell1width">(optional) Detection Methods</td> 
<td class="cell2 cell2width">Changing the detection methods used will alter your results.</td>
<td class="cell2">
<a href="#" id="show_hide">Show/Hide detection methods</a>

</td>

</table>

<div class="extras">
<table class="table"> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">POD</td> 
<td class="cell2 cell2width">Parent of origin detection method</td> 
<td class="cell2"> 
<select name="pod"> 
<option value="pod" selected>Yes</option> 
<option value="nopod">No</option> 
</select> 
</td> 
</tr> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">PODhd</td> 
<td class="cell2 cell2width">Homozygous deletion detection method</td> 
<td class="cell2"> 
<select name="podhd"> 
<option value="hd">Yes</option> 
<option value="nohd" selected>No</option> 
</select> 
</td> 
</tr> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">PODmi1</td> 
<td class="cell2 cell2width">Single Mendelian error detection method</td> 
<td class="cell2"> 
<select name="podmi1"> 
<option value="mi1">Yes</option> 
<option value="nomi1" selected>No</option> 
</select> 
</td> 
</tr> 

<tr class="rowcommon"> 
<td class="cell1 cell1width">PODcr</td> 
<td class="cell2 cell2width">Outlier B allele frequency detection method</td> 
<td class="cell2"> 
<select name="podcr"> 
<option value="podcr">Yes</option> 
<option value="nopodcr" selected>No</option> 
</select> 
</td> 
</tr> 

</table> 
</div>

</form> 
{% endblock %}
