{% extends "layout.html" %}
{% block body %}
<div id="container">
  <div class="left">
  <img src="{{ url_for('static', filename='tripod-icon-large.png') }}">
  </div>
  <div class="inner">
  <h1>triPOD</h1>
  <h2>Sensitive detection of chromosomal abnormalities in parent-child trio-based microarray data.</h2>
  <hr>
  <a href="{{ url_for('upload') }}" id="run-tripod" class="button"><span style="12px 50% no-repeat;">Launch triPOD</span></a>
  <a href="http://jdbaugher.github.io/tripod/" class="button"><span style="12px 50% no-repeat;">Download triPOD</span></a>
  <section id="description">
  <a>This software program detects chromosomal abnormalities in parent-child trio-based microarray data. It has been shown to provide improved sensitivity for abnormality detection, with substantial improvement in detection of low-level mosaic abnormalities, as described in <a href="http://www.biomedcentral.com/1471-2164/14/367/">Joseph D. Baugher, Benjamin D. Baugher, Matthew D. Shirley, and Jonathan Pevsner. Sensitive and specific detection of mosaic chromosomal abnormalities using the Parent-of-Origin-based Detection (POD) method. BMC Genomics 2013.</a>
  </a>
  </section>
  </div>
</div>
{% endblock %}
