{% extends "layout.html" %}
{% block body %}
<h1>Sample Queued</h1>
<h2>triPOD analysis of sample: {{ name }}</h2>
<hr>
<script>
function wait_for_update() {
    $.ajax({ url: '{{ url_for('status', id=id) }}',
	     success: redirect,
	     dataType: "text",
             complete: wait_for_update,
             timeout:  30000 });    
}

function redirect() {
    window.location.replace('{{ url_for('results', id=id) }}');
}
wait_for_update();
</script>
<p>
<a>This page will update when results are ready.</a>
{% endblock %}
