* {
    margin: 0;
}
html, body      { height: 100%; }
body            { font-family: 'Helvetica Neue', Helvetica, Arial, serif; 
		  background: #e7e7e7; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) 
		  line-height: 1.5; color: #363636; font-size: 1em; }
section         { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;
		  vertical-align: baseline; display: block;}
a, h1           { color: #363636; }
h2, h3          { color: #476B6B; }
h1, h2, h3      { font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; }
h2              { font-size: 1.2em; }
h3              { font-size: 1em; }
hr              { margin: 2px; border: 0; height: 2px; background: #aaa; }
.container      { background: transparent; min-width: 620px; min-height: 100%;
		  height: auto; height: 100%; margin: 0 auto -90px; }
.inner, .header { float: left; margin: 0 auto; }
.push           { clear: both; }
.footer, .push  { height: 90px; padding: 10px}
.table          { width: 100%; border: 0; 
		  cellpadding: 6; cellspacing: 3; }
.images         { background: #FFFFFF; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.show_hide      { display:none; }
.extras         { background: #F0D6D6; padding: 0.5em; }
.tableheader         { font-weight: bold; font-size: 75%; background: #85ADAD; }
#updated        { background-color: yellow; width: 1.1in; float: right;
                  margin-left: auto; margin-right: auto; }
.even           { font-size: 75%; background: #BABABA; }
.odd            { font-size: 75%; }
#description, #formatting    { line-height: 1.5; }
.subtle         { color: #7E9797; }
a.button        { display: inline-block; background: #BABABA; padding: 8px;
		  -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
		  box-shadow: 0 4px 0 #959595, 0 6px 6px rgba(0,0,0,.3); }
a.button:hover  { display: inline-block; ; background: #85ADAD; padding: 8px;
		  -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
		  box-shadow: 0 4px 0 #959595, 0 6px 6px rgba(0,0,0,.3); }
a.button span   { display: block; height: 20px; padding: 2px; }
