body {font-family: verdana, "lucida console",arial, helvetica, sans-serif;}
p {text-align: justify;}
li {text-align: justify;}
ol.loweralpha {list-style-type: lower-alpha;}
ol.lowerroman {list-style-type: lower-roman;}
table {vertical-align: middle;}
table.center {margin-left: auto;margin-right: auto;}
body.center {text-align: center;}
.headertables {
width: 100%;
border: 0;
border-color: #FFFFFF;
background-color: #000000;
border-spacing: 0;
padding: 0;
margin: auto;
text-align:center;
}
.menu {
background-color: #CCCCCC;
color: #0000CC;
margin: auto;
text-align: center;
font-size: 10pt;
font-family: verdana, "lucida console", arial, helvetica, sans-serif;
}
.rowcommon {vertical-align: middle;}
.cell1 {
text-align: center;
background-color: #0000CC;
color: #FFFFFF;
}
.cell1width {width: 80px;}
.cell2 {
text-align: left;
background-color: #99CCFF;
color: #000000;
font-size: medium;
}
.cell2width {width: 70%;}
.navcell1 {width: 10%;}
.navcell2 {width: 90%;}
.navtext {color: #FFFFFF;}
